body {
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

/* div, img, p {
    border: 3px solid maroon;
} */

.section1 {
    background: #1f2937;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.section1-content {
    display: flex;
    margin: 5% 0;
}

.section1-content-left {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.section1 div, .section2 div, .section3 div, .section4 div {
    width: 1000px;
}

.header p {
    font-size: 24px;
    /* margin: 0; */
}

.header ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.header a {
    text-decoration: none;
}

.header a, .section1-content p {
    color:  #e5e7eb;
    font-size: 18px;
}

.section1-content img {
    width: 500px;
}

.section1-content h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.section1-content p {
    width: 450px;
}

.section1-content button {
    background-color: #3882f6;
    color: #ffff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 18px;
    width: 120px;
}

.header p, .section1-content h1 {
    color: #f9faf8;
}

/* ---------------- Section 2 ------------------- */

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 5% 0 8%;
}

.section2-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.section2-title, .quote {
    color:#1f2937;
}

.section2-cards, .card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    flex-direction: column;
    text-align: center;
}

.card img {
    width: 150px;
}

.card p {
    width: 200px;
}

/* -------------------- Section 3 ------------------- */

.section3 {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7% 0;
    padding: 0;
    gap: 24px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
    padding: 0;
    width: 850px;
}

.quote div {
    text-align: right;
    font-size: 24px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

/* -------------------- Section 4 ------------------- */

.section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue-thingy {
    display: flex;
    background: #3882f6;
    border-radius: 12px;
    margin: 5% 0;
    padding: 48px 54px;
}

.call-to-action {
    margin: 0 0 0 128px;
}

.title {
    margin: 0;
    padding: 8px;
    font-size: 28px;
    color: #f9faf8;
    font-weight: 700;
}

.text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #e5e7eb;
}

.blue-thingy button {
    border: 3px solid #f9faf8;
    color: #f9faf8;
    border-radius: 6px;
    background-color: #3882f6;
    padding: 8px;
    font-size: 18px;
    width: 120px;
}

.blue-thingy .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------- Footer ------------------- */

.footer {
    background: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {
    color:#f9faf8;
    font-size: 16px;
    margin: 18px 0 0;
}

.credits {
    display: flex;
    gap: 32px;
}

.footer a {
    text-decoration: none;
    color:  #e5e7eb;
    font-size: 12px;
    text-align: center;
}
